:root {
  --shadow-light: 0rem 0.0625rem 0.125rem 0 rgba(34, 36, 38, 0.15);
  --border-light: 0.0625rem solid rgba(34, 36, 38, 0.15);
  --radius-small: 0.2857rem;
  --radius: 1rem;
  --color-white: hsl(0, 0%, 85%);
  --color-yellow: hsl(47, 88%, 63%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --background-color: hsl(0, 0%, 80%);
  --font-family-base: 'Figtree', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-weight-500: 500;
  --font-weight-800: 800;
  --font-size-base: clamp(0.9rem, 1vw + 0.8rem, 1rem);
  --font-size-paragraph: clamp(0.85rem, 1vw + 0.75rem, 0.9rem);
  --font-size-category: clamp(0.8rem, 1vw + 0.7rem, 0.8rem);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {  
  font-size: var(--font-size-base);
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  min-height: 100svh;
  background-color: var(--background-color);
  font-family: var(--font-family-base);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: clamp(0.75rem, 2vw, 3rem);
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: white;
  border-radius: var(--radius);
  padding: clamp(0.75rem, 2vw, 3rem);
  border: 0.0625rem solid var(--color-gray-950);
  box-shadow: 0.375rem 0.375rem 0 0 var(--color-gray-950);
  width: clamp(20rem, 45vw, 31.25rem);
  max-width: 20rem;
  text-align: left;
}

.card > .illustration-wrapper {
  width: 100%;
  border-radius: var(--radius);
  overflow: hidden;
  margin-block-end: 0.5rem;
}

.card > .illustration-wrapper > .illustration {
  width: 100%;
  border-radius: var(--radius);
  height: auto;
}

.card > .quote {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-paragraph);
  color: var(--color-gray-500);
  quotes: "“" "”" "‘" "’";
}

.card > .quote-label {
  align-self: flex-start;
  background: var(--color-yellow);
  box-shadow: var(--shadow-light);
  padding: 0.01rem 1rem;
  font-size: var(--font-size-category);
  font-weight: var(--font-weight-800);
  border-radius: var(--radius-small);
  border: var(--border-light);
}

.card > .quote-title {
  font-weight: var(--font-weight-800);
}

.quote-title:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.card > .quote-category {
  font-size: var(--font-size-category);
  font-weight: var(--font-weight-500);
}

.card > .author {
  display: flex;
  align-items: center;
  margin-block-start: 0.3rem;
  gap: 0.3rem;
  font-size: var(--font-size-category);
  font-weight: var(--font-weight-800);
}

.card > .author > .icon {
  width: 1.2rem;
  height: auto;
}

.footer {
  text-align: center;
  padding: 0.1rem;
  background-color: var(--color-white);
  color: var(--color-gray-500);
  font-size: var(--font-size-category);
  flex-shrink: 0;
}

.footer a {
  color: var(--color-gray-500);
  text-decoration: none;
  font-weight: var(--font-weight-800)
}

.footer a:hover {
  text-decoration: underline;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 23.4375rem) {
  .card {
    width: 70vw;
  }
}

@media (min-width: 30rem) {
  .card {
    width: 70vw;
    max-width: 21.875rem;
  }
}

@media (min-width: 48rem) {
  .card {
    width: 50vw;
    max-width: 25rem;
  }

  .page {
    padding: clamp(1rem, 2.5vw, 3rem);
  }
}

@media (min-width: 64rem) {
  .card {
    width: 35vw;
    max-width: 28.125rem;
  }
}

@media (min-width: 90rem) {
  .card {
    width: 25vw;
    max-width: 31.25rem;
  }
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
